.clock {
	border-radius: 50%;
	height: 400px;
	width: 400px;
	background-color: lightblue;
	border: 4px solid darkblue;
	align-items: center;
	display: flex;
	justify-content: center;
	margin: 4rem auto;

}

.clock-text {
	color: white;
	font-size: 5.25rem;
	font-weight: 200;
}